.employee{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#employeeHeader{
    text-align: center;
    text-decoration: underline;
}

#editEmployeeButton{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#modifyEmployeeButton{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}