a {
    color: black;
    text-decoration: none;
}

.pageButtons {
    margin: 10px auto 10px auto;
    text-align: center;
}

.showText {
    text-align: center;
    margin-inside: 10px;
}

#employeesHeader {
    text-align: center;
    text-decoration: underline;
    margin: 20px auto 30px auto;
}

.employees{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    width: 30rem;
}