:root {
    --baby-blue: rgb(233 241 252);
    --light-mango: #fff7df;
    --disabled-mango: #f9d362;
    --mango: #ffc107;
    --dark-brown: #3c2e03;
    --lighter-green: rgb(237, 252, 233);
    --light-green: rgb(220, 245, 214);
    --medium-green: rgb(148, 194, 134);
    --green: rgb(22, 109, 0);
}